<!-- Partial intended to be overwritten to add custom headers, like CSS or any other info
<style type="text/css">
    /* Custom css */
</style>
-->
<link rel="stylesheet" id="google_fonts-css" href="//fonts.googleapis.com/css?family=Ubuntu&amp;subset=latin,latin-ext" type="text/css" media="all">


<!-- Responsive meta tag -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Open Graph Protocol http://ogp.me/ -->
	<meta property="og:locale" content="en_US">
	<meta property="og:title" content="{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}">
	<meta property="og:image" content="{{ if .Params.image }}{{.Site.BaseURL}}/images/{{.Params.image}}{{ else }}{{.Site.BaseURL}}/images/site-logo.png{{ end }}">
	<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
	<meta property="og:site_name" content="{{ .Site.Title }}">
	<!-- Preconnect API. For browser compatibility, check http://caniuse.com/#feat=link-rel-preconnect -->
	<link rel="preconnect" href="{{ .Site.BaseURL }}">
	<link rel="canonical" href="{{ .Permalink }}">

